.loginPageContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}

.loginContent {
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.imageContainer {
  grid-column: 7 / span 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginImage {
  max-width: 100%;
  height: auto;
}

.loginTitle {
  padding-top: 5vh;
  grid-column: 1 / -1;
  display: flex;
  font-size: 48px;
  font-weight: 600;
  line-height: 65.37px;
  text-align: left;
}

@media (max-width: 768px) {
  .loginPageContainer {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .loginContent,
  .imageContainer {
    grid-column: 1 / -1;
  }

  .imageContainer {
    display: none;
  }
}
